body{
    font-family:'PT Sans', sans-serif;
}

h1, h2{
    text-align: center;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    color: #25B3E4;
}

.jumbotron{
    background-image: url('/static/img/shipping.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
}

.jumbotron h1{
    margin-top: 5px;
}

#jumbo-container{
    padding-left: none;
    padding-right: none;
}

#main-nav-img{
    float: none;
}

.navbar-brand{
    float: none;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-nav>li{
    padding-left: 50px;
}

#nav-links{
    padding-top: 40px;
    font-size: 24px;
    margin-left: 55px;
}

.center-align{
    padding-top: 30px;
    text-align: center;
}

.ss-cloud{
    font-size: 800%;
}

.ss-globe{
    font-size: 800%;
}

.ss-connection{
    font-size: 800%;
}

@media screen and (max-width: 910px){
    .navbar-nav>li{
        padding-left:10px;
    }
}

