body{
    font-family:'PT Sans', sans-serif;
}

h1, h2, h3{
    text-align: center;
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
    color: #25B3E4;
}

.jumbotron{
    background-image: url('/static/img/shipping.jpg');
    height: 300px;
    width: 100%;
    background-size: cover;
}

.jumbotron h1{
    margin-top: 5px;
}

#jumbo-container{
    padding-left: none;
    padding-right: none;
}

#main-nav-img{
    float: none;
}

.navbar-brand{
    float: none;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-nav>li{
    padding-left: 50px;
}

#nav-links{
    padding-top: 40px;
    font-size: 24px;
    margin-left: 55px;
}

#prep-info{
    text-align: center;
}

#shipping-ship{
    margin-left: auto;
    margin-right: auto;
}

.center-align{
    padding-top: 30px;
    text-align: center;
}

.ss-cloud{
    font-size: 800%;
}

.ss-globe{
    font-size: 800%;
}

.ss-connection{
    font-size: 800%;
}

.ss-play{
    font-size: 200%;
}

.start{
    width: 200px;
    padding: 18px;

}

.ss-stop{
    font-size: 200%;
}

.stop{
    width: 200px;
    padding: 18px;
}

.btn-center{
    text-align: center;
}

#btn-start{
    width: 175px;
}

#btn-start:hover{
    text-decoration: none;
    color: #25B3E4;
}

#btn-stop:hover{
    text-decoration: none;
    color: #25B3E4;
}
#btn-stop{
    width: 175px;
}

#control-container{
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#btn-space{
    padding-top: 25px;
}

#btn-right{
    padding-top: 10px;
}

#instance-name{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

@media screen and (max-width: 910px){
    .navbar-nav>li{
        padding-left:10px;
    }
}

