{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h2>Set up the queue for departure</h2>
        <form action="{% url 'ship' %}" method="post">
        	{% csrf_token %}
            <label for="name">What would you like to call your instance?</label>
            <input id="instance_name" type="text" name="instance_name">
			
        	<button id="setup-instance" class="btn btn-primary">Setup A Container</button>
    		 
    	</form> 
     </div>
</div>
{% endblock %}
